<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>doLatr</title>
		<link rel="stylesheet" th:href="@{/resources/page.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/form.css}" type="text/css" media="screen"></link>
		<link rel="stylesheet" th:href="@{/resources/messages/messages.css}" type="text/css" media="screen"></link>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">doLatr</a></h1>
		</div>
		
		<div id="leftNav">
		
			<h4><a th:href="@{/connect}">Connections</a></h4>
			
			<h4><a th:href="@{/twitter}">Twitter</a></h4>
			<div social:connected="twitter">
				<ul class="menu">
					<li><a th:href="@{/twitter}">User Profile</a></li>
					<li><a th:href="@{/twitter/timeline}">Timeline</a></li>
					<li><a th:href="@{/twitter/friends}">Friends</a></li>
					<li><a th:href="@{/twitter/followers}">Followers</a></li>
					<li><a th:href="@{/twitter/messages}">Messages</a></li>
					<li><a th:href="@{/twitter/trends}">Trends</a></li>
				</ul>
			</div>
		</div>
		
		
		<div id="content" layout:fragment="content">
			<h3>Connected to Twitter</h3>
			
			<form id="disconnect" method="post">
				
				<div class="formInfo">
					<p>The doLatr app is already connected to your Twitter account.
						Click the button if you wish to disconnect.</p>
				</div>
			
				<button type="submit">Disconnect</button>	
				<input type="hidden" name="_method" value="delete" />
			</form>
			
			<p><a th:href="@{/twitter}">View your Twitter profile</a></p>
						
		</div>
	</body>
</html>